.Input {
  line-height: 2rem;
  flex: 100%;
  background-color: white;
  font-size: calc(10px + 2vmin);
  border-radius: 7px;
  padding-left: .5rem;

}

.Input::placeholder {
  font-size: 0.9rem;
  /* font-style: italic; */
}

.Input:focus {
  outline: none;
}
