.Card {
  display: flex;
  flex-flow: wrap-reverse column;
  gap: 2vmin;
  width: 576px;
  margin: 1vmin 0;
  padding: 1vmin 0 1vmin 1vmin;
  box-shadow: 0px 2px 6px rgba(39, 76, 119, 0.6);
  background-color: #E7ECEF;
}

.Card,
.Card>* {
  border: none;
  border-radius: 7px;
  color: rgba(39, 76, 119, 0.75);
}

.Card>*::placeholder {
  color: rgba(39, 76, 119, 0.75);
}

@media only screen and (max-width: 576px) {
  .Card {
    width: 94vw;
    margin: 2vmin;
    padding: 2vmin 1vmin 2vmin 3vmin;
  }
}