.App {
  background-color: #fefefe;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1vmin;
}

.App-child{
  margin-bottom: 4vmin;
}